
 /* css reset */

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css rest end  */

body {
  box-sizing: border-box;
}





*{
padding: 0;
margin: 0;
    overflow-x: hidden;
}
.pins{
    width: 300%;
    position: relative;
    display: flex;

}
.pins .pin{
    height: 100vh;
    width: 100%;
    background: red;
}

.pin section{
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background: #000; */
}

.pin section header{
    /* background: red; */
    position: absolute;
    top: 60%;
    left: 10%
}
.pin section header h2{
    color: #fff;
    background: rgb(140, 0, 255);
    font-size: 3em;
    overflow: hidden;
    /* box-shadow: ; */
    display: block;
    margin: 20px ;   
    /* width: 150px/; */
    box-shadow: 15px 10px 0px 0px rgba(198,35,35,1);
/* -webkit-box-shadow: 25px 27px 5px 0px rgba(198,35,35,0.75);
-moz-box-shadow: 25px 27px 5px 0px rgba(198,35,35,0.75); */
}
 .pin section video{
     position: fixed;
     top: 0;
     left: 0; 
     min-height: 100vh;
     min-width: 100vw;
     object-fit: cover;
     max-height: 100vh;
     max-width: 100vw;
     z-index: -1;
 }

 .pin2{
     background: #000;
 }
 .sec.anim{
    left:50%;
    top: 75%;
    transform: scale(1.5);
    width: 0; 
    opacity: 0;
}
.pin section header.sec{
    left:70%;
    top: 70%;
    width: 250px; 
}

.pin section header.sec span{
    background: rgb(0, 0, 0);
    display: block;
    margin: -5px 0 0 auto;
    width: 100px;
    z-index: 9;
    font-size: 1.5em;
    color: #fff;
    text-align: right;
     background:rgba(198,35,35,1);
     padding-left: 110px;
}
.pin section header.sec h2{
box-shadow: 18px -20px 5px 0px rgba(198,35,35,1);
    z-index: -2;
    padding: 0 20px 0 0;
    
}

.pin section header.thr{
    left:30%;
    top: 30%;
    /* min-width: 700px;  */
    width: 550px; 
    height: 400px;
    /* transform: skew(20deg); */
    /* padding: 50px; */
    position: relative;
   overflow: visible;
    z-index: 2;
    margin: 30px 0 0 0;
    transform: skew(-15deg);
    /* background: rgba(0, 0, 0, 0.342); */
}
.pin section header.thr.anim{
    z-index: 0;
   /* opacity: 0; */
}
.pin section header.thr h2{
    font-size: 4em;
    z-index: 5;
    display: block;
    margin: 20px 0 0 0px;
    /* padding: 0 0px 0 10px; */
    /* text-align: center; */
    /* height: 80%; */
    /* transform: skew(15deg); */
    width: 100%; box-shadow: 18px -10px 5px 0px rgba(198,35,35,1);
    padding:40px;
}
.pin3{
    position: relative;
}
.pin3::after{
    content: '';
    position: absolute;
    /* top: 0; */
    bottom: 20%;
    left: 50%;
    /* padding: 30px 0; */
    height: 300px;
    width: 10px;
    background: #fff;
    transform: skew(20deg) translateY(-90px);
    display: block;
    /* margin-top: -100px; */
    /* z-index:-1; */
    overflow: visible;
    /* transform: translateY(-50px); */
}